---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Like This — Jordi">

  <section class="app-detail">
    <h1>Like This</h1>
    <p>
      A simple and fun way to share and discover recommendations. Show what you like,
      explore what others enjoy, and find new ideas effortlessly.
    </p>

    <a class="store-button" href="https://someonelikethis.yapplic.com" target="_blank">
      Visit official website
    </a>
  </section>

</BaseLayout>
