---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Sad Trombone — Jordi">

  <section class="app-detail">
    <h1>Sad Trombone</h1>
    <p>
      The classic “fail” sound effect, always ready when you need it. Perfect for
      jokes, awkward moments, or just having a laugh.
    </p>

    <a class="store-button" href="https://landing.flycricket.io/sad-trombone/faff095133bc462691b5ba106c84ce7b/" target="_blank">
      Visit official website
    </a>
  </section>

</BaseLayout>
